<div class="well">
<center><h1><i class="mdi-action-view-list"></i>Semester Marks</h1></center>

<%= link_to 'New', new_semester_mark_path ,:class=>"btn btn-success pull-right"%>
<br>
<br>
<br>
<div class="table-responsive">
<table class="table table-bordered"> 
  <thead>
    <tr>
      <th>Semester</th>
      <th>Gpa</th>
      <th>Pass year</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @semester_marks.each do |semester_mark| %>
      <tr>
        <td><%= semester_mark.semester %></td>
        <td><%= semester_mark.gpa %></td>
        <td><%= semester_mark.pass_year %></td>
        <td><%= link_to 'Edit', edit_semester_mark_path(semester_mark) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
