<div class="well col-lg-12">
  <center>  <h1>Admin Panel</h1></center>
  <div class="col-lg-4">
    <h4>User changes</h4>  
    <ul>
      <li>  <%=link_to "Add user(Range)",multi_user_path%></li>
      <li>  <%=link_to "Add user(Single)",single_user_path%></li>
      <li>  <%=link_to "Add user(Excelsheet)",excel_user_path%></li>
      <li><%=link_to "Enable edit",enable_edit_path%>
      <li><%=link_to "Change password",changepassword_path%>

  </ul>
</div>
<div class="col-lg-4">
  <h4>Admin activities</h4>
  <ul>
    <li> <%=link_to "Students sheet","/excelsheet"%></li>
    <li> <%=link_to "Work status",workstatuses_path%></li>
    <li> <%=link_to "Companies",companies_path%></li>
    <li> <%=link_to "Notifications",notifications_path%></li>
  </ul>
</div>
<div class="col-lg-4">
  <ul>
  </ul>
</div>
</div>
