<div class="well col-lg-6">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>Forgot Password</legend>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,:class=>"form-control",:required=>true%>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-success"><i class="mdi-communication-email"></i> Send me reset password instructions  </button>
  </div>
</fieldset>
<% end %>
<%= render "devise/shared/links" %>

</div>
