

<center><h1><i class="mdi-image-filter-vintage"></i>  Extra Activities</h1></center>
<%if not @extra_activities.nil?%>
<div>
  <%=link_to :back ,:class=>"btn btn-danger" do%>
    <i class="mdi-hardware-keyboard-arrow-left"></i> Back
  <%end%>
  <%= link_to edit_extra_activity_path(@extra_activities) ,:class=>"btn btn-success pull-right",:remote=>true do%>
    <i class="mdi-content-create"></i> Edit
  <%end%>

<br><br>
</div>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Area of interest</th>
      <th>Extra curricular</th>
      <th>Hobby</th>
      <th>Responsibilty</th>
      </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @extra_activities.area_of_interest %></td>
        <td><%= @extra_activities.extra_curricular %></td>
        <td><%= @extra_activities.hobby %></td>
        <td><%= @extra_activities.responsibilty %></td>
        <td><%= @extra_activities.arrears %></td>
        <td><%= @extra_activities.current %></td>
        <td><%= @extra_activities.history %></td>
        <td><%= @extra_activities.electives %></td>

        </tr>
  </tbody>
</table>
</div>
<br>
<%else%>
<center><p class="message"><i class="mdi-alert-warning"></i>  No Activities yet</p></center>
<center>
  <%= link_to new_extra_activity_path,:class=>"btn btn-primary",:remote=>true do %>
  <i class="mdi-content-add"></i> Add
  <%end%>
</center>
<%end%>
