<br>
<div class="row">
<center>
<p class="title"><%=current_user.name%> </p>
</center>
<div class="pull-left">
<p><em><%=@college_profile.degree%> <%=@dept%>,<br>College of Engineering,Guindy</em></p>
</div>
<div class="pull-right">
<%=current_user.phone%><br>
<%=current_user.email%>
</div>
</div>
<div style="background-color: black; height: 2px;">
</div>
<br>
<p class="subtitle"><strong>Academic details : </strong></p>
<table class="table table-bordered">
<tr>
<td><strong>Qualification</strong></td>
<td> <strong>Institution</strong></td>
<td><strong>Examination Authority</strong></td>
<td><strong>Year of passing</strong></td>
<td><strong>Score</strong></td>
</tr>
<%@academic_detail. each do |aca|%>
  <tr>
  <td><%=aca.course.upcase%></td>
  <td><%=aca.institution.upcase%></td>
  <td><%=aca.examination_authority.upcase%></td>
  <td><%=aca.pass_year%></td>

  <td><%=aca.percentage%></td>
  </tr>
<%end%>
<tr>
<td><%=@college_profile.degree%> <%=@dept%></td>
<td><%=@college_profile.college%></td>
<td>Anna University,Chennai</td>
<td>Pursuing</td>
<td><%=@college_profile.cgpa%></td>
</table>
<p class="subtitle"><strong>Projects: </strong> </p>
<%@projects.each do |project|%>
  <strong> <h4><%=project.title%></h4></strong>
  <strong>Description: </strong> <%=project.desc%><br>
  <strong>Technologies used: </strong> <%=project.technology%>
<%end%>
<br>
<br>
<%if not @extra_activities.nil?%>
  <p class="subtitle"><strong>Areas of interest</strong></p>
  <ul>
  <%splitter(@extra_activities.area_of_interest).each do |area|%>
    <li><%=area%></li>
  <%end%>
  </ul>
   <p class="subtitle"><strong>Responsibility</strong></p>
  <ul>
  <%splitter(@extra_activities.responsibilty).each do |resp|%>
    <li><%=resp%></li>
  <%end%>
  </ul>
 <p class="subtitle"><strong>Extra Curricular</strong></p>
  <ul>
  <%splitter(@extra_activities.extra_curricular).each do |extras|%>
    <li><%=extras%></li>
  <%end%>
  </ul>

   <p class="subtitle"><strong>Hobbies</strong></p>
  <ul>
  <%splitter(@extra_activities.hobby).each do |hob|%> 
    <li><%=hob%></li>
  <%end%>
  </ul>

<%end%>
</div>
</div>
<table>
</table>
