
<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="mdi-maps-my-location"></i> Links</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li> <%=link_to personal_profiles_path,:remote=>true do%><i class="mdi-social-person-outline"></i> Personal Profile<%end%> </li>
        <li><%=link_to college_profiles_path,:remote=>true do%><i class="mdi-maps-local-library"></i> College Profile<%end%></li>
        <li><%=link_to academic_details_path,:remote=>true do%><i class="mdi-social-school"></i> Academic details<%end%></li>
        <li><%=link_to semester_marks_path,:remote=>true do%><i class="mdi-action-view-list"></i> Semester Marks<%end%></li>
        <li><%=link_to extra_activities_path,:remote=>true do%><i class="mdi-image-filter-vintage"></i> Extra Curricular and others<%end%></li>
        <li><%=link_to projects_path,:remote=>true do%><i class="mdi-image-landscape"></i> Project<%end%></li>

      </ul>
    </div>
  </div>
</div>
<div class="well col-lg-9" id="ajaxarea">
  <p class="headline">Instructions </p>
  <ol>
    <li>Each section will have separate list of fields.You can save each section separately</li>
    <li>Have your details ready while entering to avoid delay.</li>
    <li>In academic detail section please choose only what is applicable</li>
    <li>In semester marks section
    <ul>
      <li>PG students enter your marks only for PG semesters.Your UG marks are not needed</li>
      <li>UG students enter your marks from semester 1 to the latest semester</li>
    </ul>
    </li>
    <li>For electives in Extra curricular activity section,If you have more than one use commas to separate them</li>
    <li>In projects section,you are allowed to include any number of projects.But only your first three will be considered</li>
  </ol>
</div>
