<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="mdi-maps-my-location"></i> Links</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li> <%=link_to personal_profiles_path,:onclick=>"gaTrack('/personal_profile','Personal Profile')",:remote=>true do%><i class="mdi-social-person-outline"></i> Personal Profile<%end%> </li>
        <li><%=link_to college_profiles_path,:onclick=>"gaTrack('/college_profiles','College Profile')",:remote=>true do%><i class="mdi-maps-local-library"></i> College Profile<%end%></li>
        <li><%=link_to academic_details_path,:onclick=>"gaTrack('/academic_details','Academic Details')",:remote=>true do%><i class="mdi-social-school"></i> Academic details<%end%></li>
        <li><%=link_to semester_marks_path,:onclick=>"gaTrack('/semester_marks','Semester Marks')",:remote=>true do%><i class="mdi-action-view-list"></i> Semester Marks<%end%></li>
        <li><%=link_to extra_activities_path,:onclick=>"gaTrack('/extra_activities','Extra Activities')",:remote=>true do%><i class="mdi-image-filter-vintage"></i> Extra Curricular and others<%end%></li>
        <li><%=link_to projects_path,:onclick=>"gaTrack('/projects','Projects')",:remote=>true do%><i class="mdi-image-landscape"></i> Project<%end%></li>
        <li><%=link_to submit_resume_path,:onclick=>"gaTrack('/projects','Projects')",:remote=>true ,:class=>"submit-resume" do%><i class="mdi-maps-beenhere"></i> Submit my resume<%end%></li>
      </ul>
    </div>
  </div>
</div>
<div class="well col-lg-9" id="ajaxarea">
  <div id="ajaxloader"></div>
  <p class="headline">Instructions </p>
  <ol>
    <li>Each section will have separate list of fields.You can save each section separately.All sections must completed.</li>
    <li>Have your details ready while entering to avoid delay.</li>
    <li>In academic detail section please choose only what is applicable</li>
    <li>In semester marks section
    <ul>
      <li>PG students enter your marks only for PG semesters.Your UG marks are not needed</li>
      <li>UG students enter your marks from semester 1 to the latest semester</li>
    </ul>
    </li>
    <li>For electives in Extra curricular activity section,If you have more than one use commas to separate them</li>
    <li>In projects section,you are allowed to include any number of projects.But only your first three will be considered</li>
    <li><strong>You can check your entire resume using Submit my resume link in the left hand side.If any of the fields are marked as nil and in red please check it in the relevant section.</strong></li>
    <li><strong>By entering zero in any field you indicate that the consent field is not applicable to you.</strong></li>
    <li><strong>Leaving any field empty will be considered as incomplete profile and henceforth will not be considered.</strong></li>
    <li><strong>You can save only once.After which edit will be disabled again</strong></p>
  </ol>
</div>
