<p id="notice"><%= notice %></p>

<h1>Listing Workstatuses</h1>

<table>
  <thead>
    <tr>
      <th>Numrange</th>
      <th>Workstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workstatuses.each do |workstatus| %>
      <tr>
        <td><%= workstatus.numrange %></td>
        <td><%= workstatus.workstatus %></td>
        <td><%= link_to 'Show', workstatus %></td>
        <td><%= link_to 'Edit', edit_workstatus_path(workstatus) %></td>
        <td><%= link_to 'Destroy', workstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workstatus', new_workstatus_path %>
