<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br>
     <%= f.text_field :starts_at,:id=>"date" %>
  </div>
  <div class="field">
    <%= f.label :profile %><br>
    <%= f.text_area :profile %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
<% end %>
