<%= form_for(@personal_profile,:class=>"form-horizontal") do |f| %>
<%= link_to :back  ,:class=>"btn btn-danger" do%>
<i class="mdi-hardware-keyboard-arrow-left"></i> Back
<%end%>

<button type="submit" class="btn btn-primary pull-right"><i class="mdi-content-save"></i>Save</button>
<% if @personal_profile.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@personal_profile.errors.count, "error") %> prohibited this personal_profile from being saved:</h2>

  <ul>
    <% @personal_profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= f.label :gender %><br>
  <div class="radio radio-primary">
    <label>
      <%= f.radio_button :gender,:male,:class=>"form-control",:required=>true %>  Male
      <span class="circle"></span>
      <span class="check"></span>
    </label>
    <label>
      <%= f.radio_button :gender,:female,:class=>"form-control",:required=>true %> Female
      <span class="circle"></span>
      <span class="check"></span>

    </label>
  </div>

</div>
<div class="form-group">
  <%= f.label :dob %><br>
  <%= f.date_select :dob ,:class=>"form-control" ,:required=>true %>
</div>
<div class="form-group">
  <%= f.label :age %><br>
  <%= f.text_field :age ,:class=>"form-control" ,:required=>true %>
</div>
<div class="form-group">
  <%= f.label :height %><br>
  <%= f.text_field :height ,:class=>"form-control" ,:required=>true %>
</div>
<div class="form-group">
  <%= f.label :weight %><br>
  <%= f.text_field :weight ,:class=>"form-control" ,:required=>true %>
</div>
<div class="form-group">
  <%= f.label :guardian_name %><br>
  <%= f.text_area :guardian_name ,:class=>"form-control" ,:required=>true %>
</div>
<div class="form-group">
  <%= f.label :guardian_occupation %><br>
  <%= f.text_area :guardian_occupation ,:class=>"form-control" ,:required=>true %>
</div>
<div class="form-group">
  <%= f.label :nationality%><br>
  <%= f.text_field :nationality ,:class=>"form-control" ,:required=>true  %>
</div>
<div class="field">
  <%= f.label :mother_tongue %><br>
  <%= f.text_field :mother_tongue ,:class=>"form-control" ,:required=>true %>
</div>
<%= link_to :back  ,:class=>"btn btn-danger" do%>
<i class="mdi-hardware-keyboard-arrow-left"></i> Back
<%end%>
<button type="submit" class="btn btn-primary pull-right"><i class="mdi-content-save"></i>Save</button>
<% end %>
