<%= form_for(@personal_profile,:class=>"form-horizontal") do |f| %>
  <%= link_to :back  ,:class=>"btn btn-danger" do%>
    <i class="mdi-hardware-keyboard-arrow-left"></i> Back
  <%end%>

  <button type="submit" class="btn btn-primary pull-right"><i class="mdi-content-save"></i>Save</button>
  <% if @personal_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_profile.errors.count, "error") %> prohibited this personal_profile from being saved:</h2>
      <ul>
        <% @personal_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :gender %><br>
    <div class="radio radio-primary">
      <label>
        <%= f.radio_button :gender,:male,:class=>"form-control",:required=>true %>  Male
        <span class="circle"></span>
        <span class="check"></span>
      </label>
      <label>
        <%= f.radio_button :gender,:female,:class=>"form-control",:required=>true %> Female
        <span class="circle"></span>
        <span class="check"></span>

      </label>
    </div>

  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">

        <label for="dob">Date of Birth</label><br>
        <%= f.text_field :dob ,:class=>"form-control" ,:required=>true,:id=>"date" %>
      </div>
      <div class="col-md-6">
        <%= f.label :age %><br>
        <%= f.text_field :age ,:class=>"form-control" ,:required=>true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :height %><br>
        <%= f.text_field :height ,:class=>"form-control" ,:required=>true %>
      </div>
      <div class="col-md-6">
        <%= f.label :weight %><br>
        <%= f.text_field :weight ,:class=>"form-control" ,:required=>true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="guardian_name">Father/Guardian's name</label>
    <%= f.text_area :guardian_name ,:class=>"form-control" ,:required=>true %>
  </div>
  <div class="form-group">
    <label for="guardian_occupation">Father/Guardian's occupation</label>

    <%= f.text_area :guardian_occupation ,:class=>"form-control" ,:required=>true %>
  </div>
  <div class="form-group">
    <%= f.label :nationality%><br>
    <%= f.text_field :nationality ,:class=>"form-control" ,:required=>true  %>
  </div>
  <div class="form-group">
    <%= f.label :mother_tongue %><br>
    <%= f.text_field :mother_tongue ,:class=>"form-control" ,:required=>true %>
  </div>
  <div class="form-group">
    <%= f.label :current_address %><br>
    <%= f.text_area :current_address ,:class=>"form-control" ,:required=>true %>
  </div>
  <div class="form-group">
    <%= f.label :permanent_address %><br>
    <%= f.text_area :permanent_address ,:class=>"form-control" ,:required=>true %>
  </div>
  <div class="form-group">
    <%= f.label :communicate %><br>
    <%= f.select :communicate ,options_for_select([["Permanent","permanent"],["Current","current"]]), :class=>"form-control" ,:required=>true %>
  </div>

  <%= link_to :back  ,:class=>"btn btn-danger" do%>
    <i class="mdi-hardware-keyboard-arrow-left"></i> Back
  <%end%>
  <button type="submit" class="btn btn-primary pull-right"><i class="mdi-content-save"></i>Save</button>
<% end %>
<script>
</script>

