<%= form_for(@college_profile) do |f| %>
<%= link_to :back  ,:class=>"btn btn-danger" do%>
<i class="mdi-hardware-keyboard-arrow-left"></i> Back
<%end%>

<button type="submit" class="btn btn-primary pull-right"><i class="mdi-content-save"></i>Save</button>

<% if @college_profile.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@college_profile.errors.count, "error") %> prohibited this college_profile from being saved:</h2>
  <ul>
    <% @college_profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<fieldset>
  <div class="form-group">
    <label>Degree</label> 
    <%= f.select :degree,options_for_select("B.E"=>"BE","B.Tech"=>"BTech","M.E"=>"ME","M.Tech"=>"MTech","M.C.A"=>"MCA","MBA"=>"MBA","M.Sc(5yrs)"=>"MSc(5yrs)","M.Sc"=>"MSc","M.Plan"=>"MPlan","B.Arch"=>"BArch","M.Arch"=>"MArch"),{},{:required=>true,:class=>"form-control"} %><br> 
  </div>
  <div class="form-group">
    <label>Branch</label>
    <%= f.select :branch,options_for_select("Aeronautical Engineering"=>"AE","Architecture"=>"AR","Agriculture & Irrigation Engineering"=>"AI","Apparel Technology"=>"AP","Automobile Engineering"=>"AU","Bio-Medical Engineering"=>"BM","Ceramic Technology"=>"CR","Chemical Engineering"=>"CH","Civil Engineering"=>"CE","Computer Science and Engg."=>"CS","Electrical and Electronics"=>"EE","Electronics & Communication"=>"EC","Electronics & Instrumentation"=>"EI","Food Technology"=>"FT","Geo-Informatics"=>"GI","Industrial Bio-Technology"=>"IB","Industrial Engineering"=>"IE","Information Technology"=>"IT","Leather Technology"=>"LE","Manufacturing Engineering"=>"MN","Material Science &  Engineering"=>"MS","Mechanical Engineering"=>"ME","Mining Engineering"=>"MI","Pharmaceutical Technology"=>"PH","Printing Technology"=>"PT","Production Engineering"=>"PE","Rubber and Plastics Technology"=>"RP","Textile Technology"=>"TX"),{},{:class=>"form-control",:required=>true}%> 
  </div>
  <div class="form-group">
    <label>Semester</label>
    <%= f.number_field :semester,:class=>"form-control"%> 
  </div>
  <div class="form-group">
    <label>Level</label>
    <%= f.select :level,options_for_select("UG"=>"UG","PG"=>"PG") ,{},{:class=>"form-control",:required=>true}%> 
  </div>
  <div class="form-group">
    <label>College</label>
    <%=f.select :college,options_for_select("CEG"=>"CEG","MIT"=>"MIT","ACT"=>"ACT","SAP"=>"SAP") ,{},{:class=>"form-control",:required=>true}%>
  </div>
  <div class="form-group">
    <label>CGPA</label>
    <%=f.text_field :cgpa,:class=>"form-control"%>
  </div>
</fieldset>
<%= link_to :back  ,:class=>"btn btn-danger" do%>
<i class="mdi-hardware-keyboard-arrow-left"></i> Back
<%end%>

<button type="submit" class="btn btn-primary pull-right"><i class="mdi-content-save"></i>Save</button>

<% end %>
