<div class="well">
  <center><h1> <i class="mdi-maps-local-library"></i> Editing College Profile</h1></center>
<%= render 'form' %>
</div>
<script>
$(document).ready(function(){
$("#college_profile_degree").val("<%=@college_profile.degree%>")
$("#college_profile_branch").val("<%=@college_profile.branch%>")
$("#college_profile_level").val("<%=@college_profile.level%>")
$("#college_profile_college").val("<%=@college_profile.college%>")
  $("#college_profile_degree").change(function(){
    url="/college_profile/branch/"+this.value
    console.log(url);
    $.getScript(url);
    })
  });
</script>
