<div class="col-lg-12" id="ajaxarea">
  <%if @college_profiles.nil?%>
  <center><i class="mdi-alert-warning"></i> No College Profile yet</center>
  <center><%=link_to new_college_profile_path,:class=>"btn btn-primary" ,:remote=>true do%><i class="mdi-content-add"></i> Add<%end%>
    <%else%>

  </div>
  <div class="col-lg-12 well">
    <div class="col-md-6">
      <label>Level:</label>
      <%= @college_profiles.level %>
    </div>

    <div class="col-md-6">
      <label>Degree:</label>
      <%= @college_profiles.degree %>
    </div>
    <div class="col-md-6">
      <strong>Branch:</strong>
      <%= @college_profiles.branch %>
    </div>

    <div class="col-md-6">
      <strong>College:</strong>
      <%= @college_profiles.college %>
    </div>
    <div class="col-md-6">
      <strong>Semester:</strong>
      <%= @college_profiles.semester %>
    </div>

    <div class="col-md-6">
      <strong>Cgpa:</strong>
      <%= @college_profiles.cgpa %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Edit', edit_college_profile_path(@college_profiles),:class=>"btn btn-large btn-success" %> 
    </div>
    <div class="col-md-6">
      <%= link_to 'Back', college_profiles_path,:class=>"btn btn-large btn-danger" %> 
    </div>
    <%end%>
