<div class="well descline" id="ajaxarea">
  <%if @college_profiles.nil?%>
  <%else%>
  You are <span class="studentname"><%=current_user.name%></span>
  Studying <span class="studentname"><%=@college_profiles.degree%>  <%=@college_profiles.branch%></span> and 
  in semester <span class="studentname"><%=@college_profiles.semester%></span> which is a <span class="studentname"> <%=@college_profiles.level%></span> degree
  <%= link_to edit_college_profile_path(@college_profiles),:class=>"btn btn-large btn-success",:remote=>true do%> 
    <i class="mdi-editor-mode-edit"></i> Edit
  <%end%>
  <%= link_to 'Back', :back,:class=>"btn btn-large btn-danger" %> 
<%end%>
</div>
  <%if @college_profiles.nil?%>
  <%else%>
  <!--div class="well col-lg-12">
    <div class="col-md-6">
      <label>Level:</label>
      <%= @college_profiles.level %>
    </div>

    <div class="col-md-6">
      <label>Degree:</label>
      <%= @college_profiles.degree %>
    </div>
    <div class="col-md-6">
      <strong>Branch:</strong>
      <%= @college_profiles.branch %>
    </div>

    <div class="col-md-6">
      <strong>College:</strong>
      <%= @college_profiles.college %>
    </div>
    <div class="col-md-6">
      <strong>Semester:</strong>
      <%= @college_profiles.semester %>
    </div>

    <div class="col-md-6">
      <strong>Cgpa:</strong>
      <%= @college_profiles.cgpa %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Edit', edit_college_profile_path(@college_profiles),:class=>"btn btn-large btn-success" %> 
    </div>
    <div class="col-md-6">
      <%= link_to 'Back', college_profiles_path,:class=>"btn btn-large btn-danger" %> 
    </div>
  </div-->
<%end%>
