<div class="well col-lg-6">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <div class="col-md-6">
      <strong>Level:</strong>
      <%= @college_profile.level %>
    </div>

    <div class="col-md-6">
      <strong>Degree:</strong>
      <%= @college_profile.degree %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <strong>Branch:</strong>
      <%= @college_profile.branch %>
    </div>

    <div class="col-md-6">
      <strong>College:</strong>
      <%= @college_profile.college %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <strong>Semester:</strong>
      <%= @college_profile.semester %>
    </div>

    <div class="col-md-6">
      <strong>Cgpa:</strong>
      <%= @college_profile.cgpa %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <%= link_to 'Edit', edit_college_profile_path(@college_profile),:class=>"btn btn-large btn-success" %> 
    </div>
    <div class="col-md-6">
      <%= link_to 'Back', college_profiles_path,:class=>"btn btn-large btn-danger" %> 
    </div>
  </div>
</div>

