<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :degree %><br>
    <%= f.select :degree,options_for_select("B.E"=>"BE","B.Tech"=>"BTech","M.E"=>"ME","M.Tech"=>"MTech","M.C.A"=>"MCA","MBA"=>"MBA","M.Sc(5yrs)"=>"MSc(5yrs)","M.Sc"=>"MSc","M.Plan"=>"MPlan","B.Arch"=>"BArch","M.Arch"=>"MArch")%>
  </div>
  <div class="field">
    <%= f.label :branch %><br>
    <%= f.text_area :branch %>
  </div>
  <div class="field">
    <%= f.label :branch_code %><br>
    <%= f.text_field :branch_code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
