<div class="well">
<p id="notice"><%= notice %></p>

<center><h1>Listing Courses</h1></center>

<table class="table">
  <thead>
    <tr>
      <th>Degree</th>
      <th>Branch</th>
      <th>Branch Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.degree %></td>
        <td><%= course.branch %></td>
        <td><%= course.branch_code %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Course', new_course_path %>
</div>
