<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @course.degree %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @course.branch %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
