<%= form_for(@academic_detail) do |f| %>
  <% if @academic_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_detail.errors.count, "error") %> prohibited this academic_detail from being saved:</h2>

      <div class="alert alert-message">
      <% @academic_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :course %><small>(Choose what only what is applicable)</small><br>
    <%= f.select :course,options_for_select([["SSLC","sslc"],["HSC","hsc"],["UG","ug"],["PG","pg"]]),:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :institution %><br>
    <%= f.text_area :institution ,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :examination_authority %><br>
    <%= f.text_field :examination_authority,:class=>"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :pass_year %><br>
    <%= f.date_select :pass_year ,:class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :percentage %><br>
    <%= f.text_field :percentage ,:class=>"form-control" %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary"> Save</button>
  </div>
<% end %>
