<div class="well col-lg-12">

<h1><center><i class="mdi-maps-local-library"></i>Academic details</center></h1>
  <%if @academic_details.size==0%>
    <center><p class="message"><i class="mdi-alert-warning"></i> No Academic detail yet</p></center>
    <center><%=link_to new_academic_detail_path,:class=>"btn btn-primary" ,:remote=>true do%><i class="mdi-content-add"></i> Add<%end%>
  <%else%>
<div class="table-responsive">
<table class="table table-bordered">
      <th>Course</th>
      <th>Institution</th>
      <th>Examination authority</th>
      <th>Pass year</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_details.each do |academic_detail| %>
      <tr>
        <td><%= academic_detail.course %></td>
        <td><%= academic_detail.institution %></td>
        <td><%= academic_detail.examination_authority %></td>
        <td><%= academic_detail.pass_year %></td>
        <td><%= academic_detail.percentage %></td>
        <td><%= link_to 'Edit', edit_academic_detail_path(academic_detail),:remote=>true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%end%>
<br>
</div>
